In [31]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import  confusion_matrix, classification_report, accuracy_score
#pip install pandas
#pip install scikit-learn
#pip install seaborn

In [32]:
da=pd.read_csv("Weather_Forecast_Data.csv")
da

      Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure     Rain
0       23.720338  89.592641    7.335604    50.501694  1032.378759     rain
1       27.879734  46.489704    5.952484     4.990053   992.614189  no rain
2       25.069084  83.072843    1.371992    14.855784  1007.231620  no rain
3       23.622080  74.367758    7.050551    67.255282   982.632013     rain
4       20.591370  96.858822    4.643921    47.676444   980.825142  no rain
...           ...        ...         ...          ...          ...      ...
2495    21.791602  45.270902   11.807192    55.044682  1017.686181  no rain
2496    27.558479  46.481744   10.884915    39.715133  1008.590961  no rain
2497    28.108274  43.817178    2.897128    75.842952   999.119187  no rain
2498    14.789275  57.908105    2.374717     2.378743  1046.501875  no rain
2499    26.554356  97.101517   18.563084    81.357508  1001.729176  no rain

[2500 rows x 6 columns]

In [4]:
da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [5]:
da.head(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low

In [6]:
da.tail(4)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [7]:
da.shape

(14999, 10)

In [8]:
da.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [10]:
da.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

In [11]:
da.isnull().sum().sum()

np.int64(0)

In [12]:
da.duplicated().sum()

np.int64(3008)

In [13]:
da.drop_duplicates(inplace=True)
da.duplicated().sum()

np.int64(0)

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
da['Department']=le.fit_transform(da['Department'])
da

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,low
1,0.80,0.86,5,262,6,0,1,0,7,medium
2,0.11,0.88,7,272,4,0,1,0,7,medium
3,0.72,0.87,5,223,5,0,1,0,7,low
4,0.37,0.52,2,159,3,0,1,0,7,low
...,...,...,...,...,...,...,...,...,...,...
11995,0.90,0.55,3,259,10,1,0,1,4,high
11996,0.74,0.95,5,266,10,0,0,1,4,high
11997,0.85,0.54,3,185,10,0,0,1,4,high
11998,0.33,0.65,3,172,10,0,0,1,5,high
11999,0.50,0.73,4,180,3,0,0,0,0,low

In [16]:
da.dropna(inplace=True)

In [18]:
da.dropna(inplace=True)
da.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

In [19]:
x=da.drop(['Work_accident', 'left','salary'],axis=1),
y=da['salary']
x

(       satisfaction_level  last_evaluation  number_project  \
 0                    0.38             0.53               2
 1                    0.80             0.86               5
 2                    0.11             0.88               7
 3                    0.72             0.87               5
 4                    0.37             0.52               2
 ...                   ...              ...             ...
 11995                0.90             0.55               3
 11996                0.74             0.95               5
 11997                0.85             0.54               3
 11998                0.33             0.65               3
 11999                0.50             0.73               4

        average_montly_hours  time_spend_company  promotion_last_5years  \
 0                       157                   3                      0
 1                       262                   6                      0
 2                       272                   4                      0
 3                       223                   5                      0
 4                       159                   3                      0
 ...                     ...                 ...                    ...
 11995                   259                  10                      1
 11996                   266                  10                      1
 11997                   185                  10                      1
 11998                   172                  10                      1
 11999                   180                   3                      0

        Department
 0               7
 1               7
 2               7
 3               7
 4               7
 ...           ...
 11995           4
 11996           4
 11997           4
 11998           5
 11999           0

 [11991 rows x 7 columns],)

In [20]:
y

0           low
1        medium
2        medium
3           low
4           low
          ...
11995      high
11996      high
11997      high
11998      high
11999       low
Name: salary, Length: 11991, dtype: object

In [21]:
from sklearn.model_selection import train_test_split

In [24]:
from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import StandardScaler
mm = MinMaxScaler()
x = mm.fit_transform(x)
x

ValueError: Found array with dim 3, while dim <= 2 is required by MinMaxScaler.

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=30)
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [1, 11991]

In [27]:
model=LogisticRegression()
model.fit(x_test,y_test)
y_pred=model.predict(x_test)
print(y_pred)

NameError: name 'x_test' is not defined

In [28]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

NameError: name 'y_test' is not defined

In [29]:
# TESTING
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

NameError: name 'y_test' is not defined

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)

In [30]:
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

NameError: name 'y_test' is not defined

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(x_test,y_test)
y_pred=model.predict(x_test)
print(y_pred)

In [ ]:
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))