In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
da = pd.read_csv("Sales_Data.csv")

In [3]:
da.head(3)

,Date,Particulars,Voucher No.,GSTIN/UIN,Narration,Quantity,Rate,Value,Gross Total,GST Register Sales @ 18 %,Output CGST @ 9%,Output SGST @ 9%,ROUND OFF,GST Unregister Sales @ 18 %,DELIVERY CHARGES & SERVICES
0,4/1/2024 0:00,HOTEL RAMANAS,1.0,33AADFH1142H1ZY,Inv No:01,16,1161.86,18589.76,21936,18589.76,1673.07,1673.07,0.10,0.00,0.0
1,4/1/2024 0:00,WALK IN CUSTOMER,2.0,NaN,Inv No:02,3,1140.68,3422.04,4038,0.00,307.98,307.98,0.00,3422.04,0.0
2,4/2/2024 0:00,HOTEL RAMANAS,4.0,33AADFH1142H1ZY,Inv No:04,10,1161.86,11618.60,13710,11618.60,1045.67,1045.67,0.06,0.00,0.0

In [4]:
da.tail(3)

,Date,Particulars,Voucher No.,GSTIN/UIN,Narration,Quantity,Rate,Value,Gross Total,GST Register Sales @ 18 %,Output CGST @ 9%,Output SGST @ 9%,ROUND OFF,GST Unregister Sales @ 18 %,DELIVERY CHARGES & SERVICES
1269,3/31/2025 0:00,SATHY SILKS PRIVATE LIMITED,1270.0,33AACCG6357R1Z2,Inv No:1270,5,1463.56,7317.80,8760,7317.80,658.60,658.60,0.00,0.00,125.0
1270,3/31/2025 0:00,WALK IN CUSTOMER,1271.0,NaN,Inv No:1271,3,1165.25,3495.75,4125,0.00,314.62,314.62,0.01,3495.75,0.0
1271,NaN,Grand Total,NaN,NaN,NaN,21385,NaN,27917562.39,33181769,25471321.36,2512581.62,2512581.62,38.87,2446241.03,239004.5

In [5]:
da.columns

Index(['Date', 'Particulars', 'Voucher No.', 'GSTIN/UIN', 'Narration',
       'Quantity', 'Rate', 'Value', 'Gross Total', 'GST Register Sales @ 18 %',
       'Output CGST @ 9%', 'Output SGST @ 9%', 'ROUND OFF',
       'GST Unregister Sales @ 18 %', 'DELIVERY CHARGES & SERVICES'],
      dtype='object')

In [6]:
da.shape

(1272, 15)

In [7]:
da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1272 entries, 0 to 1271
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         1271 non-null   object
 1   Particulars                  1272 non-null   object
 2   Voucher No.                  1271 non-null   float64
 3   GSTIN/UIN                    960 non-null    object
 4   Narration                    1266 non-null   object
 5   Quantity                     1272 non-null   int64
 6   Rate                         1271 non-null   float64
 7   Value                        1272 non-null   float64
 8   Gross Total                  1272 non-null   int64
 9   GST Register Sales @ 18 %    1272 non-null   float64
 10  Output CGST @ 9%             1272 non-null   float64
 11  Output SGST @ 9%             1272 non-null   float64
 12  ROUND OFF                    1272 non-null   float64
 13  GST Unregister Sales @ 18 %  1272 non-null   float64
 14  DELIVERY CHARGES & SERVICES  1272 non-null   float64
dtypes: float64(9), int64(2), object(4)
memory usage: 149.2+ KB

In [8]:
# from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
da['Particulars']= le.fit_transform(da['Particulars'])
da['GSTIN/UIN']= le.fit_transform(da['GSTIN/UIN'])
da['Narration']= le.fit_transform(da['Narration'])
da

,Date,Particulars,Voucher No.,GSTIN/UIN,Narration,Quantity,Rate,Value,Gross Total,GST Register Sales @ 18 %,Output CGST @ 9%,Output SGST @ 9%,ROUND OFF,GST Unregister Sales @ 18 %,DELIVERY CHARGES & SERVICES
0,4/1/2024 0:00,6,1.0,4,12,16,1161.86,18589.76,21936,18589.76,1673.07,1673.07,0.10,0.00,0.0
1,4/1/2024 0:00,27,2.0,19,121,3,1140.68,3422.04,4038,0.00,307.98,307.98,0.00,3422.04,0.0
2,4/2/2024 0:00,6,4.0,4,338,10,1161.86,11618.60,13710,11618.60,1045.67,1045.67,0.06,0.00,0.0
3,4/2/2024 0:00,27,3.0,19,231,6,1140.68,6844.08,8076,0.00,615.96,615.96,0.00,6844.08,0.0
4,4/3/2024 0:00,21,7.0,13,666,5,1354.24,6771.20,7990,6771.20,609.41,609.41,0.02,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1267,3/31/2025 0:00,6,1268.0,4,1258,5,1165.25,5826.25,6875,5826.25,524.36,524.36,0.03,0.00,0.0
1268,3/31/2025 0:00,11,1269.0,8,1259,3,1243.22,3729.66,4401,3729.66,335.67,335.67,0.00,0.00,0.0
1269,3/31/2025 0:00,17,1270.0,0,1260,5,1463.56,7317.80,8760,7317.80,658.60,658.60,0.00,0.00,125.0
1270,3/31/2025 0:00,27,1271.0,19,1261,3,1165.25,3495.75,4125,0.00,314.62,314.62,0.01,3495.75,0.0
1271,NaN,5,NaN,19,1263,21385,NaN,27917562.39,33181769,25471321.36,2512581.62,2512581.62,38.87,2446241.03,239004.5

In [9]:
da = da.drop(['GSTIN/UIN','Voucher Ref.','Alt. Units','Voucher No.'],axis=1)
da

KeyError: "['Voucher Ref.', 'Alt. Units'] not found in axis"

In [10]:
da.dropna(inplace=True)

In [11]:
da.isnull().sum()

Date                           0
Particulars                    0
Voucher No.                    0
GSTIN/UIN                      0
Narration                      0
Quantity                       0
Rate                           0
Value                          0
Gross Total                    0
GST Register Sales @ 18 %      0
Output CGST @ 9%               0
Output SGST @ 9%               0
ROUND OFF                      0
GST Unregister Sales @ 18 %    0
DELIVERY CHARGES & SERVICES    0
dtype: int64

In [12]:
x=da.drop(['Gross Total','Date','Voucher No.','Narration','GSTIN/UIN',],axis=1)
y=da['Gross Total']
da

,Date,Particulars,Voucher No.,GSTIN/UIN,Narration,Quantity,Rate,Value,Gross Total,GST Register Sales @ 18 %,Output CGST @ 9%,Output SGST @ 9%,ROUND OFF,GST Unregister Sales @ 18 %,DELIVERY CHARGES & SERVICES
0,4/1/2024 0:00,6,1.0,4,12,16,1161.86,18589.76,21936,18589.76,1673.07,1673.07,0.10,0.00,0.0
1,4/1/2024 0:00,27,2.0,19,121,3,1140.68,3422.04,4038,0.00,307.98,307.98,0.00,3422.04,0.0
2,4/2/2024 0:00,6,4.0,4,338,10,1161.86,11618.60,13710,11618.60,1045.67,1045.67,0.06,0.00,0.0
3,4/2/2024 0:00,27,3.0,19,231,6,1140.68,6844.08,8076,0.00,615.96,615.96,0.00,6844.08,0.0
4,4/3/2024 0:00,21,7.0,13,666,5,1354.24,6771.20,7990,6771.20,609.41,609.41,0.02,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,3/31/2025 0:00,8,1267.0,16,1257,5,1283.90,6419.50,7575,6419.50,577.76,577.76,0.02,0.00,0.0
1267,3/31/2025 0:00,6,1268.0,4,1258,5,1165.25,5826.25,6875,5826.25,524.36,524.36,0.03,0.00,0.0
1268,3/31/2025 0:00,11,1269.0,8,1259,3,1243.22,3729.66,4401,3729.66,335.67,335.67,0.00,0.00,0.0
1269,3/31/2025 0:00,17,1270.0,0,1260,5,1463.56,7317.80,8760,7317.80,658.60,658.60,0.00,0.00,125.0
1270,3/31/2025 0:00,27,1271.0,19,1261,3,1165.25,3495.75,4125,0.00,314.62,314.62,0.01,3495.75,0.0

In [13]:
y

0       21936
1        4038
2       13710
3        8076
4        7990
        ...
1266     7575
1267     6875
1268     4401
1269     8760
1270     4125
Name: Gross Total, Length: 1271, dtype: int64

In [14]:
x

,Particulars,Quantity,Rate,Value,GST Register Sales @ 18 %,Output CGST @ 9%,Output SGST @ 9%,ROUND OFF,GST Unregister Sales @ 18 %,DELIVERY CHARGES & SERVICES
0,6,16,1161.86,18589.76,18589.76,1673.07,1673.07,0.10,0.00,0.0
1,27,3,1140.68,3422.04,0.00,307.98,307.98,0.00,3422.04,0.0
2,6,10,1161.86,11618.60,11618.60,1045.67,1045.67,0.06,0.00,0.0
3,27,6,1140.68,6844.08,0.00,615.96,615.96,0.00,6844.08,0.0
4,21,5,1354.24,6771.20,6771.20,609.41,609.41,0.02,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...
1266,8,5,1283.90,6419.50,6419.50,577.76,577.76,0.02,0.00,0.0
1267,6,5,1165.25,5826.25,5826.25,524.36,524.36,0.03,0.00,0.0
1268,11,3,1243.22,3729.66,3729.66,335.67,335.67,0.00,0.00,0.0
1269,17,5,1463.56,7317.80,7317.80,658.60,658.60,0.00,0.00,125.0
1270,27,3,1165.25,3495.75,0.00,314.62,314.62,0.01,3495.75,0.0

In [15]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
x = SS.fit_transform(x)
x

array([[-1.12472657, -0.04249402, -0.62836061, ...,  0.01086096,
        -0.36398926, -0.43835795],
       [ 1.44989408, -0.71182541, -0.69491114, ..., -0.68282156,
         0.28318309, -0.43835795],
       [-1.12472657, -0.3514162 , -0.62836061, ..., -0.26661205,
        -0.36398926, -0.43835795],
       ...,
       [-0.51172165, -0.71182541, -0.37271609, ..., -0.68282156,
        -0.36398926, -0.43835795],
       [ 0.22388425, -0.60885135,  0.31962307, ..., -0.68282156,
        -0.36398926, -0.14696545],
       [ 1.44989408, -0.71182541, -0.61770876, ..., -0.61345331,
         0.29712304, -0.43835795]], shape=(1271, 10))

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=5)
lr=LinearRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_test)
print(pred)

[ 37703.87984571  14619.95536257   8739.95361205   3403.99278782
   3249.99385922  16269.95556717   4400.97930292  40935.90047591
  21536.02369703  26712.28009751 126819.50389297   9725.98147502
   3317.99176288  15779.97980455  32465.96271759   8610.04562038
  26242.82355644  39870.44228574  30689.9208122   28652.0743315
   6869.9373134    3276.03013503   8759.99856247   4956.02849784
   7804.97838078 123900.76766509  77082.77204732  11045.9810574
   8759.99856247  15246.00188515   7779.97214267  34523.94471991
  37362.12978629  31815.01286101   4733.98734969   5383.96777237
 108569.89921966   8315.96926525  58633.96581702 118349.89835302
   1620.99274952  85249.78865648   4199.97506056   6869.94424613
   4652.97613043  38275.89216518  30998.04729247 133812.78012333
   3180.0247932   25042.86268815   9218.94192576  10733.98206572
   8075.96194627  64839.92214021  21086.05643378   3459.99524297
   5475.96467458  59292.20318062   3489.99369876  48995.91466588
  20537.95826229   4919.99837064  82875.88651961   4124.96160118
  26871.94871822  16972.98176857  26242.82009007  60878.88903555
   8397.79633135  24659.97567903   7079.99019235  63262.96365948
  59219.94791472  36036.05638309  10597.97209253  33750.08405732
  40814.9213557   48344.85245317  74182.1500998  111420.77001637
   8497.80158076  63262.12003339   8249.94526485   5100.05467254
   6584.95207397   9840.08172267   6874.96367611   3295.9925444
  27309.9521645   41673.13158699  26872.79697304   6844.99311587
 136037.63783851  21975.97911721 118349.89835302   4107.0012759
  13600.00703984   3987.04805295  28551.76252486  19750.60377856
   1652.0003533    7650.10556013   3415.99922169   9218.94192576
  11240.0020609   51557.81971635  73736.75055247  39648.26981325
   6834.96309576   8497.80158076   3914.96899833  18248.96030359
  14879.99483612   1646.99829754  17549.96115849   9617.92663734
  32915.94057844  36192.10956607  27209.97106557  12365.91596127
   9197.97451002   3379.99079145   8081.95665377   8260.05664237
   8059.97505194   3987.04805295  71338.14337761   3293.99981516
 123439.94254411   3379.99079145   6205.96696756   3295.9925444
  11088.00833026  19727.99115859  15620.00009804  32772.03220771
   6243.98365933   9899.96774489   1646.99829754  10230.02081246
   6584.95207397   9610.9532429   22043.88440043   5100.05467254
   7380.02264351   3065.98416764  33570.18027385  25248.98865646
   9869.98621068  40950.49666121  16520.11616326   6869.94424613
  35844.06605527   8774.99105638   8235.02604892  22099.99843254
   3950.96222217  27431.94091167  10595.95900593   7439.99782874
  35964.27949269  10019.96822491  16575.25477962   3459.99524297
  36481.93429613  49769.89273409   9835.00209384   3987.02637207
  44999.84440271  42430.80581244   9840.08172267  45268.9175565
  10194.08256772  14834.97170846   8497.80158076  36191.87481739
   8759.99856247  42952.29795778  16200.02510527   3773.95963055
  40500.05382043   1345.97651152   3379.99079145   4874.99213134
   8759.99856247  69354.8392639    8294.98127645   8249.94179848
  14039.95215918  17000.00359692 118810.94470165  40195.96429114
  13271.97079002  21975.97911721  77702.8811609    6375.05843546
   7650.10556013  18018.21551669   8679.9926264    9671.94831551
   7575.00510149   4959.98696439   6179.98016901  30998.0256116
  39932.97370519   8572.7979176    6360.05669742   1658.99294744
  37355.93656435   3180.0247932    4956.02849784   8572.7979176
  23022.02287927  32269.96127919  35155.8112118   85932.35445248
  34499.87946587  80351.78759977 108108.88823316   6304.95862837
  53674.79447245  38664.22812056  54999.85611153  43935.85315422
   8569.98451475  17262.00063155   6874.95071029   1304.97336577
  35828.13437349   5267.95714807  77082.77171686   3065.98416764
   9615.93275334   7714.98608366  37692.34474662   3812.97239047
  20255.98478004   8430.00212678   3293.99981516   7500.02348624
  33300.25137786  32537.97113821   8977.79152413  13119.97440524
   8417.96423728   8574.98749029  44456.9033801   35375.94055446
   3987.02637207   7440.00519298   8759.99856247  21833.77159293
  11395.97380331  14201.98137762  26872.79697304]

In [17]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,pred)
print(r2)

from sklearn.metrics import mean_absolute_error
m=mean_absolute_error(y_test,pred)
print(m)

0.9999999999791201
0.0803121539412863

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=5)
lr=LinearRegression()
lr.fit(x_test,y_test)
pred = lr.predict(x_test)
print(pred)

[ 37703.90475029  14619.95323044   8739.97479497   3403.99404836
   3249.99207494  16269.96017241   4400.97159016  40935.90640124
  21536.01638472  26712.30083725 126819.51539456   9725.97637104
   3317.99241573  15779.97284906  32465.95367294   8610.06078359
  26242.90179547  39870.48153489  30689.92483078  28652.0752857
   6869.94559678   3276.03030226   8759.99539847   4956.02853659
   7804.9766326  123900.79143042  77082.82496458  11045.9738158
   8759.99539847  15246.0266726    7779.97256379  34523.95841757
  37362.14066278  31815.00909276   4733.98235563   5383.96814268
 108569.86670947   8315.97364362  58633.93808982 118349.86670559
   1620.99012467  85249.82489711   4199.96547472   6869.95647304
   4652.97672711  38275.90706375  30998.04583203 133812.79082727
   3180.02413922  25042.9128602    9218.94982418  10733.98413373
   8075.96605518  64839.910037    21086.05970252   3459.99614747
   5475.96651017  59292.19948596   3489.99543571  48995.93052042
  20537.94840736   4919.99842877  82875.88255771   4124.96417473
  26871.95155092  16972.97013873  26242.89635734  60878.89870211
   8397.89410327  24659.99119536   7079.98780379  63262.93392459
  59219.93202289  36036.13064547  10597.96577616  33750.0883739
  40814.94640871  48344.87987785  74182.15565444 111420.80424808
   8497.90037113  63262.12297419   8249.95869542   5100.06594483
   6584.95545785   9840.08788039   6874.95733789   3295.99089436
  27309.98931794  41673.1404072   26872.88470914   6845.00584364
 136037.65890416  21976.01369019 118349.86670559   4107.00984782
  13600.00561592   3987.06130079  28551.86514005  19750.67227539
   1651.99755517   7650.12993364   3415.99859816   9218.94982418
  11239.99529365  51557.89543842  73736.80479809  39648.28494882
   6834.95778837   8497.90037113   3914.9583995   18248.96582762
  14880.01648203   1646.99567593  17549.99025256   9617.94471328
  32915.96354368  36192.11565443  27209.99678659  12365.94382978
   9197.97563219   3379.9910116    8081.95251542   8260.059518
   8059.96920828   3987.06130079  71338.14938059   3293.99598767
 123439.8906529    3379.9910116    6205.96468468   3295.99089436
  11088.02792366  19728.00758426  15619.99956891  32772.05979215
   6243.98308324   9899.97054805   1646.99567593  10230.04522479
   6584.95545785   9610.96132541  22043.92490588   5100.06594483
   7380.03081297   3065.98151316  33570.25791179  25248.97862201
   9869.98102192  40950.53843503  16520.12319301   6869.95647304
  35844.04336573   8774.98933694   8235.02447992  22099.99434248
   3950.96109153  27431.94839354  10595.97225335   7439.9865278
  35964.30210104  10019.96898565  16575.27462847   3459.99614747
  36481.92688362  49769.90788445   9834.9957773    3987.03374374
  44999.8744156   42430.87312186   9840.08788039  45268.92514163
  10194.08878327  14834.96199949   8497.90037113  36191.89515073
   8759.99539847  42952.31593023  16200.02106196   3773.95662827
  40500.04746608   1345.97127392   3379.9910116    4874.9899129
   8759.99539847  69354.86476511   8294.98355303   8249.95325729
  14039.97042835  17000.00110654 118810.89481813  40195.95640355
  13271.97469032  21976.01369019  77702.88090511   6375.07038219
   7650.12993364  18018.23273122   8680.00303931   9671.95894506
   7575.00232724   4959.98946227   6179.98019526  30998.01827499
  39932.96879009   8572.89915794   6360.05836839   1658.99174454
  37355.98416538   3180.02413922   4956.02853659   8572.89915794
  23022.0141098   32269.95289237  35155.8754107   85932.38660686
  34499.90183472  80351.83459329 108108.86838886   6304.94907443
  53674.8571434   38664.29380742  54999.87528948  43935.91283998
   8569.9889075   17262.01849777   6874.96052186   1304.96263631
  35828.14385207   5267.95827469  77082.82421658   3065.98151316
   9615.94712898   7714.97846919  37692.36060777   3812.95867197
  20256.00687023   8429.99626095   3293.99598767   7500.0249
  33300.26998576  32537.96456836   8977.89918711  13119.96990809
   8417.95792935   8574.9876775   44456.91734498  35375.98348099
   3987.03374374   7440.01688499   8759.99539847  21833.87141837
  11395.97079387  14201.97498402  26872.88470914]

In [19]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,pred)
print(r2)

from sklearn.metrics import mean_absolute_error
m=mean_absolute_error(y_test,pred)
print(m)

0.9999999999802618
0.07529320222831802